# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
.env.dev

# OS / editor noise
.DS_Store
.vscode/
.idea/

# Logs
logs/
*.log

# Terraform
*.tfstate
*.tfstate.*
.terraform/
infra/terraform/.terraform.lock.hcl

# Local data / cache
.pytest_cache/

